{% extends 'base.html' %}
{% block content %} 
<div id="all_bands_title">
    <h2>All Bands</h2>
    <i class="fa-solid fa-people-group"></i>
</div>
<div class="band_container">
{% for band in bands %}
    <section class="band_list">
        <a href="/bands/ {{ band.id }}"><h3>{{ band.band_name }}</h3></a>
    </section>
{% endfor %}
</div>

<div id="add_new_band">
    <form action="/bands/new">
    <button id="add_new_band_button">Add New Band</button>
    </form>
</div>
{% endblock %}


<!-- I need to figure out my for loop logic to print as I intend it to. -->