{% extends 'base.html' %}
{% block content %} 
<div>
    <a href="/bands/new">Add New Band</a>
    <h2>All Bands</h2>
</div>
<div>
{% for band in bands %}
    <section>
        <a href="/bands/ {{ band.id }}"><h3>{{ band.band_name }}</h3></a>
        <!-- <h4>Setlists:</h4>
        {% for setlist in setlists %}
            {% if band.id == setlist.band.id %}
                <p>{{ setlist.setlist_name }}</p>
            {% endif %}
        {% endfor %} 
        <h4>Songs:</h4>
        {% for song in songs %}
            {% if song.band.id == band.id %}
                <p>{{ song.title }} by {{ song.artist }}</p>
            {% endif %}
        {% endfor %} -->
    </section>
{% endfor %}
</div>
{% endblock %}


<!-- I need to figure out my for loop logic to print as I intend it to. -->