{% extends 'base.html' %}
{% block content %} 
<h2>Bands</h2>
{% for band in bands %}
    <section>
        <h4>{{ band.band_name }}</h4>
        {% for setlist in setlists %}
            {% if band.id == setlist.band.id %}
                <p>Setlists: {{ setlist.setlist_name }}</p>
                {% for song in setlist_songs %}
                <p>Songs: {{ song.song.title }} by {{ song.song.artist }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %} 
    </section>
{% endfor %}
{% endblock %}


<!-- I need to figure out my for loop logic to print as I intend it to. -->