{% extends 'base.html' %} 
{% block content %} 
<main class="band_page">
<h2> {{ band.band_name }}</h2>
<section>
        <p>Band Type: {{ band.band_type }}</p>
        <h3>Songs</h3>
        <div class="band_songs">
        {% for song in songs %}
                <div class="band_song">
                        <a href="songs/ {{ song.id }}"><p>{{ song.title }} by {{ song.artist }}</p></a>
                </div>
        {% endfor %}
        </div>
        <h3>Setlists</h3>
        <div class="band_sets">
        {% for setlist in setlists %}
                <div class="band_song">
                        <a href="setlists/ {{ setlist.id }}"><p>{{ setlist.setlist_name }}</p></a>
                </div>
        {% endfor %}  
        </div> 
        <div id="edit_band">
        <form action="/bands/{{band.id}}/edit">
                <button id="edit_band_button">Edit Band</button>
        </form>
        </div>
        <div id="delete_band">
        <form action="/bands/{{ band.id }}/delete" method="POST">
                <button id="delete_band_button">Delete Band</button>
        </form>
        </div>
</section>
</main>
{% endblock %}