{% extends "base.html" %}
{% block content %}

<h2>Update Setlist</h2>

<form action="/setlists/ {{ setlist.id }}" method="POST">
    <div>
        <label for="setlist_name">Setlist Name:</label>
        <input type="text" id="setlist_name" name="setlist_name">
    </div>
    <div>
        <label for="band">Band:</label>
        <select name="band" id="band">
        {% for band in bands %}
            <option value="{{ band.id }}">
                {{ band.band_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        Add songs: <br>
        {% for song in songs %}
        <input type="checkbox" name="songs" value="{{song.id}}">
        <label for="{{song.id}}">{{song.title}} by {{song.artist}}</label><br>
        {% endfor %}
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}