{% extends 'base.html' %} 
{% block content %}
<main class="setlist_view">
<h2> {{ setlist.setlist_name }}</h2>
<div class="setlist_view_container">
        <div class="setlist_view_item">
                <h3>{{ setlist.band.band_name }}</h3>
        </div>
        <div class="setlist_view_item">
        <h4>Songs</h4>
                <div class="setlist_songs_container">
                        {% for song in setlist_songs %}
                        <div class="setlist_songs_item">
                                <a href="songs/ {{ song.id }}"><p>{{ song.title }} by {{ song.artist }}</p></a>
                                <div class="set_view_buttons">
                                <form action="/setlists/{{setlist.id}}/songs/{{ song.id }}/delete" method="post">
                                <input id="set_view_song_button" type="submit" value="Delete Song">
                                </form>
                                </div>
                        </div>
                        {% endfor %}
                </div>
        </div>
        <div class="set_view_buttons">
                <form action="/setlists/{{ setlist.id }}/edit">
                        <input id="set_view_edit_button" type="submit" value="Update Setlist">
                </form>
                <form action="/setlists/{{ setlist.id }}/delete" method="POST">
                        <input id="set_view_delete_button" type="submit" value="Delete Setlist">
                </form>
        </div>
</div>
</main>
{% endblock %}
"/setlists/songs/<id>/delete"