{% extends 'base.html' %} 
{% block content %} 
<h2> {{ setlist.setlist_name }}</h2>
<section>
        <p>Band: {{ setlist.band.band_name }}</p>
        <h4>Songs:</h4>

        {% for song in setlist_songs %}
                <a href="songs/ {{ song.id }}"><p>{{ song.title }} by {{ song.artist }}</p></a>
                <form action="/setlists/{{setlist.id}}/songs/{{ song.id }}/delete" method="post">
                        <input type="submit" value="Delete Song">
                </form>
        {% endfor %}
        <br>
        <form action="/setlists/{{ setlist.id }}/edit">
            <input type="submit" value="Update Setlist">
        </form><br>
        <form action="/setlists/{{ setlist.id }}/delete" method="POST">
                <input type="submit" value="Delete Setlist">
        </form>
</section>
{% endblock %}
"/setlists/songs/<id>/delete"