{% extends "base.html" %}
{% block content %}
<div>
<h3>
    <a href="/songs/new">Add New Song</a>
</h3>
</div>
<div>
{% for song in songs %}
    <h3>
        {{ song.title }} by {{ song.artist }}
        {% if song.learned == 'true' %} 
            <span>✅</span>
        {% else %}
            <span>❌</span>
        {% endif %}
    </h3>
        <p>{{ song.band.band_name }}</p>
        <form action="/songs/{{ song.id }}/learned" method="post">
            <input type="submit" value="Update Learned Status" class="button">
        </form><br>
        <a href="/songs/{{ song.id }}">View Song Details</a>
        <!-- <p>{{ song.song_key }}</p>
        <p>{{ song.harmony }}</p>
        <p>{{ song.structure }}</p>
        <p>{{ song.notes }}</p><br> -->
{% endfor %}
</div>

{% endblock %}