{% extends "base.html" %}
{% block content %}
<div id="all_songs_title">
    <h3>All Songs</h3>
    <i class="fa-solid fa-guitar" id="guitar_song_page"></i>
</div>
<div class="songs_container">
{% for song in songs %}
    <div class="individual_song_container">
    <h3>
        {{ song.title }} by {{ song.artist }}
        {% if song.learned == 'true' %} 
            <span>✅</span>
        {% else %}
            <span>❌</span>
        {% endif %}
    </h3>
        <p>{{ song.band.band_name }}</p>
        <form action="/songs/{{ song.id }}/learned" method="post">
            <button id="add_new_song_button">Update Learned Status</button>
        </form><br>
        <a href="/songs/{{ song.id }}">View Song Details</a>
    </div>
{% endfor %}

</div>
<div id="add_new_song">
    <form action="/songs/new">
    <button id="add_new_song_button">Add New Song</button>
    </form>
</div>

{% endblock %}