{% extends "base.html" %}
{% block content %}
<main id="song_view_page">
<div id="song_view_title">
    <h3>{{ song.title }}</h3>
</div>
<div class="song_container">
    <p class="song_cards">
        {% if song.learned == 'true' %}
            You have learned this song<br>
        {% else %}
            You have <span id ="not_learned_warning" style="color:red">NOT</span> learned this song<br>
        {% endif %}
    </p>
    <p class="song_cards">
        Artist: <br> 
        {{ song.artist }}
    </p>
    <p class="song_cards">
        {% set length_in_mins = song.duration / 60 %}
        Length: <br> 
        {{'%0.2f' % length_in_mins|float }} minutes
    </p>
    <p class="song_cards">
        Key: <br>
        {{ song.song_key }}
    </p>
    <p class="song_cards">
        Chord Pattern: <br>
        {{ song.harmony }}
    </p>
    <p class="song_cards">
        Structure: <br>
        {{ song.structure }}
    </p>
    <p class="song_cards">
        Notes: <br>
        {{ song.notes }}
    </p>
</div>
<div id="song_view_buttons">
    <form action="/songs/{{ song.id }}/edit">
        <button id="edit_song_button">Edit Song Details</button>
    </form>
    <form action="/songs/{{ song.id }}/delete" method="POST">
        <button id="delete_song_button">Delete Song</button>
    </form>
</div>
</main>
{% endblock %}